__pycache__/
*.py[cod]
*.sqlite3
*.log
*.pot
*.pyc
*.pyo
*.pyd
*.egg-info/
*.egg
*.manifest
*.spec
*.coverage
.coverage
htmlcov/
.tox/
.nox/
.coverage
.cache/
nosetests.xml
coverage.xml
*.cover
*.py,cover
*.db
*.sqlite3
*.sqlite3-journal
.DS_Store
.env
.env.*
*.pem
*.key
staticfiles/
media/
.idea/
.vscode/
*.swp
*.swo
*.bak
*.tmp
