<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E-commerce Store</title>
    {% load static %}
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/style.css' %}?v=6">
</head>

<body>
    {% include 'includes/navbar.html' %}

    <main class="main-content">
        {% include 'includes/alerts.html' %}
        {% block content %}
        {% endblock %}
    </main>

    {% include 'includes/footer.html' %}

    <script src="{% static 'js/script.js' %}?v=6"></script>
</body>

</html>